mixin card(id, meta, title, text, link, linkText, additionalClass, external, noimage)
    div.card(id=id class=additionalClass)
        div.card__description
            span.card__description__tag= meta
            span.card__description__title= title
            p= text
            if link
                div.card__description__anchor__wrapper
                    img.icon(src='assets/images/vector/iconset/eyeglasses.svg')
                    if external
                         a.card__description__anchor(href= link, target='_blank')= linkText
                    else
                        a.card__description__anchor(href= link)= linkText
        if noimage != 'noimage'
            div.card__showcase