//- Bundle of required JS plugins (via NPM)
script(src='/assets/bundle.js')

script(src='/assets/javascript/interactive.min.js' async)
script(src='/assets/javascript/nav.min.js' async)

//-script. 
    //- Set to the same value as the web property used on the site
    var gaProperty = 'UA-50961830-5';

    //- Disable tracking if the opt-out cookie exists.
    var disableStr = 'ga-disable-' + gaProperty;
    if (document.cookie.indexOf(disableStr + '=true') > -1)
        window[disableStr] = true;
    
    //- Opt-out function
    function gaOptout() {
        document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
        window[disableStr] = true;
        //-console.log('cookie deleted');
    }
    
    //- Hotjar Tracking Code
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1564606,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');